*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke
}

.container
{
    margin: 5px;
    padding: 5px;
    width: 500px;
    height: 260px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid transparent;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #909c9c;
}
.converter-title
{
    text-align: center;
    margin: 13px, 0px;
    font-family: Times, serif;
}
.box
{
    height: 190px;
    width: 450px;
    background-color: rgb(185, 238, 246);
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 1px;
    margin-left: 23px;
    margin-top: 6px;
    
}
#OptionType
{
    margin-left: 17px;
    width: 420px;
    height: 30px;
    margin-top: 27px;
    border: 1px solid transparent;
    border-radius: 4px;

}


input
{
    height: 35px;
    text-align: center;
    margin-top: 35px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 10px;

    font-family: sans-serif;
    font-weight: bold;
    
}
#input
{
    border: 1px solid transparent;
    border-radius: 10px;

    margin-left: 15px;
    
}
#InputType,#ResultType
{
    width: 202.63px;
    height: 34px;
    border: 1px solid transparent;
    border-radius: 10px;

    margin-left: 13px;
    color: rgb(0, 0, 0);
    margin-top: 11px;
    cursor: pointer;
}
#ResultType
{
    margin-left: 12.5px;
}